<template>
  <div class="screen">
    <div class="header">
      <div class="title">Dig 4 Hanja</div>
      <div class="search">Search</div>
    </div>
    <div class="main-body">
      <div class="left-menu">
        <a href="">Home</a>
        <a href="">Search</a>
        <a href="">Hanja</a>
        <a href="">Contact Us</a>
      </div>
      <div class="hanja-table">
        <table>
          <thead>
            <tr>
              <th>Hanja</th>
              <th>Hangul</th>
              <th>English</th>
            </tr>
          </thead>
          <space :height="15"/>
          <tbody>
            <tr v-for="hanja in hanjas" :key="hanja.uid">
              <td>{{ hanja.hanja }}</td>
              <td>{{ hanja.hangul }}</td>
              <td>{{ hanja.english }}</td>
            </tr>
          </tbody>
        </table>

        <space :height="70"/>
        
        <paging
            v-if="hanjas && hanjas.length > 0"
            :currPage="page"
            :totalCount="totalCount" 
            @page-move-to="onClickPageMove"/>
      </div>
    </div>
  </div>
</template>

<script>
import { get } from "@/api/hanja-api.js";
import Paging from './common/Paging.vue';
import Space from './common/Space.vue';

export default {
  components: { Paging, Space },
  name: 'HelloWorld',
  data () {
    return {
      page: 1,
      countPerPage: 10,
      totalCount: 110,
      hanjas: []
    }
  },
  computed: {},
  methods: {
    async init() {
      await this.fetchHanjas();
    },
    async fetchHanjas() {
      let parameters = {
        size: this.countPerPage,
        page: this.page - 1
      };
      try {
        const { data } = await get('/hanja/list', parameters);
        console.log('data: ', data);
        this.hanjas = data.hanjaList.content;
        this.totalCount = data.hanjaList.totalElements;
      } catch (error) {

      }
    },
    onClickPageMove(pageTo) {
      console.log('Change to page ', pageTo);
      this.page = pageTo;
      this.fetchHanjas();
    }
  },
  mounted() {
    console.log("Initialising");
    this.init();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.screen {
  height: 100%;
}
.header {
  font-size: 40px;
}
.header div {
  padding: 15px;
}
.title {
    width: 25%;
    float:left; /* add this */
    border: 2px solid rgb(0, 0, 0);
    border-right: 0;
}
.search {
    border: 2px solid rgb(0, 0, 0);
    overflow: hidden; /* if you don't want #second to wrap below #first */
}
.main-body {
  height: 100%;
  font-size: 20px;
}
.left-menu {
  height: 100%;
  width: 15%;
  float: left;
  border: 2px solid rgb(0, 0, 0);
  border-top: 0;
  position: fixed;
}
.left-menu a {
  border-bottom: 1px solid black;
  margin: 20px;
  color: green;
  display: block;
}
.hanja-table {
  height: 100%;
  width: 83%;
  float: right;
  padding: 15px;
}
table {
  width: 100%;
}
table th {
  border-bottom: 1px solid black;
  width: 100%;
}
table tr th {
  width: 33%;
}
.space {
  height: 50px;
}
</style>
