<template>
  <div class="justify-self-center height-38 pt-10">
    <span>
      <img
        src="@/assets/images/icon/ic_table_arrow_start2.png"
        v-show="currPage !== 1"
        @click="onClickPageBtn(1)"
        class="inline-block cursor-pointer"
      />
    </span>
    <!-- <button type="button" class="first" v-show="currPage !== 1" @click="onClickPageBtn(1)">
      <span class="blind"> << </span>
    </button> -->
    <span>
      <img
        src="@/assets/images/icon/ic_table_arrow_prev2.png"
        v-show="currPage !== 1"
        @click="onClickPageBtn(currPage - 1)"
        class="inline-block cursor-pointer pl-9 pr-20"
      />
    </span>
    <!-- <button type="button" class="prev" v-show="currPage !== 1" @click="onClickPageBtn(currPage - 1)">
      <span class="blind"> -<- </span>
    </button> -->

    <span
      class="text-666 font-14 cursor-pointer pl-11"
      v-for="index in pageBtnCount"
      :key="index"
      :class="numberClass(index)"
      @click="onClickPageBtn(index + offset)"
    >
      {{ index + offset }}
    </span>

    <!-- <button
      v-for="index in pageBtnCount"
      :key="index"
      :class="{ on: index + offset === currPage }"
      @click="onClickPageBtn(index + offset)"
    >
      {{ index + offset }}
    </button> -->

    <span>
      <img
        src="@/assets/images/icon/ic_table_arrow_next2.png"
        v-show="lastPage !== 0 && currPage !== lastPage"
        @click="onClickPageBtn(currPage + 1)"
        class="inline-block cursor-pointer pr-9 pl-20"
      />
    </span>
    <!-- <button type="button" class="next" v-show="currPage !== lastPage" @click="onClickPageBtn(currPage + 1)">
      <span class="blind">->-</span>
    </button> -->
    <span>
      <img
        src="@/assets/images/icon/ic_table_arrow_end2.png"
        v-show="lastPage !== 0 && currPage !== lastPage"
        @click="onClickPageBtn(lastPage)"
        class="inline-block cursor-pointer"
      />
    </span>

    <!-- <button type="button" class="last" v-show="currPage !== lastPage" @click="onClickPageBtn(lastPage)">
      <span class="blind"> >> </span>
    </button> -->
  </div>
</template>
<script>
  export default {
    name: "paging",
    props: {
      currPage: {
        // 현재 페이지번호
        type: Number,
        default: 0,
      },
      totalCount: {
        // 마지막 페이지번호
        type: Number,
        default: 1,
      },
      itemsPerPage: {
        type: Number,
        default: 10,
      }
    },
    data() {
      return {
        defaultPageBtnPerPaging: 10, // 노출하려는 페이지이동 버튼 갯수
        lastPage: 1
      };
    },
    computed: {
      pageBtnCount() {
        // 페이지버튼 생성 개수
        const defaultPageBtnPerPaging = this.defaultPageBtnPerPaging;
        const countDiff = this.lastPage - this.offset;
        const lastPageBtnPerPaging = countDiff > 0 ? countDiff : 0;

        if (lastPageBtnPerPaging <= defaultPageBtnPerPaging) {
          return lastPageBtnPerPaging;
        }

        return defaultPageBtnPerPaging;
      },
      offset() {
        // 페이지번호 오프셋
        return Math.floor((this.currPage - 1) / this.defaultPageBtnPerPaging) * 10;
      },
    },
    methods: {
      onClickPageBtn(pageTo) {
        if (pageTo === this.currPage) {
          return;
        }
        this.$emit("page-move-to", pageTo);
      },
      numberClass(index) {
        if (index + this.offset === this.currPage) {
          return ["active", "font-ns-b"];
        } else {
          return ["font-ns-r"];
        }
      },
    },
    mounted() {
      this.lastPage = Math.ceil(this.totalCount / this.itemsPerPage);
    }
  };
</script>
