<template>
    <div :style="{height: height + 'px'}"/>
</template>
<script>
    export default {
        name: "space",
        props: {
            height: {
                type: Number,
                default: 50
            }
        }
    }
</script>
